<div class="landing-about-lesson-backdrop-wrap is-hidden js-about-lesson-modal-win js-modal-win">
  <div class="landing-about-lesson-backdrop js-landing-backdrop">
    <div class="landing-about-lesson-modal-win">
      <button type="button" class="landing-about-lesson-modal-win-close-btn js-about-lesson-modal-win-close-btn">
        <svg class="landing-about-lesson-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </button>
      <div class="landing-about-lesson-modal-win-container">
        <p class="landing-about-lesson-modal-win-title js-landing-about-lesson-modal-win-title"></p>
        <ul class="landing-about-lesson-modal-win-advantages-list">
          <li class="landing-about-lesson-modal-win-advantages-list-item">
            <div class="landing-about-lesson-modal-win-advantage-wrap group-lessons">
              <p class="landing-about-lesson-modal-win-advantage-text">Групова форма занять</p>
            </div>
          </li>
          <li class="landing-about-lesson-modal-win-advantages-list-item">
            <div class="landing-about-lesson-modal-win-advantage-wrap learning-in-skillful-groups">
              <p class="landing-about-lesson-modal-win-advantage-text">8-10 учнів в групі</p>
            </div>
          </li>
          <li class="landing-about-lesson-modal-win-advantages-list-item">
            <div class="landing-about-lesson-modal-win-advantage-wrap flexible-schedule">
              <p class="landing-about-lesson-modal-win-advantage-text">Розклад погоджується</p>
            </div>
          </li>
          <li class="landing-about-lesson-modal-win-advantages-list-item">
            <div class="landing-about-lesson-modal-win-advantage-wrap lesson-duration">
              <p class="landing-about-lesson-modal-win-advantage-text">Тривалість 60 хв</p>
            </div>
          </li>
        </ul>
        <button type="button" class="landing-about-lesson-modal-win-reg-btn js-landing-about-lesson-modal-win-reg-btn js-reg-on-course-btn">Зареєструватись</button>
      </div>
    </div>
  </div>
</div>
