<section class="advantages-section">
  <div class="advantages-container">
    <h2 class="advantages-title">Переваги</h2>
    <div class="advantages-img-list">
      <div class="advantages-img-wrap modern-methods">
        <img src="/icons/advantages/modern-methods.svg" class="advantages-img-modern-methods" />
        <p class="advantages-img-desc">Сучасні методики<br />навчання</p>
      </div>
      <div class="advantages-img-wrap individual-approach">
        <img src="/icons/advantages/individual-approach.svg" class="advantages-img-individual-approach" />
        <p class="advantages-img-desc">Індивідуальний<br />підхід</p>
      </div>
      <div class="advantages-img-wrap learning-in-skillful-groups">
        <img src="/icons/advantages/learning-in-skillful-groups.svg" class="advantages-img-learning-in-skillful-groups" />
        <p class="advantages-img-desc">Навчання в<br />малих групах</p>
      </div>
      <div class="advantages-img-wrap flexible-schedule">
        <img src="/icons/advantages/flexible-schedule.svg" class="advantages-img-flexible-schedule" />
        <p class="advantages-img-desc">Гнучкий розклад<br />для учнів</p>
      </div>
      <div class="advantages-img-wrap knowledge-monitoring">
        <img src="/icons/advantages/knowledge-monitoring.svg" class="advantages-img-knowledge-monitoring" />
        <p class="advantages-img-desc">Своєчасний<br />моніторинг знань</p>
      </div>
      <div class="advantages-img-wrap convenient-payment-system">
        <img src="/icons/advantages/convenient-payment-system.svg" class="advantages-img-convenient-payment-system" />
        <p class="advantages-img-desc">Зручна<br />система оплати</p>
      </div>
    </div>
  </div>
</section>
