<section class="landing-consultation-wrap">
  <h2 class="hidden-element">Консультація</h2>
  <div class="landing-consultation-container">
    <div class="landing-consultation-form-wrap">
      <p class="landing-consultation-title">Познайомимося?</p>
      <p class="landing-consultation-text">З радістю проконсультуємо та дізнаємось один одного краще</p>
      <form class="landing-consultation-form js-landing-consultation-form">
        <input type="hidden" />
        <div class="landing-consultation-form-input-wrap">
          <input class="landing-consultation-form-input" type="text" placeholder="Ім&#8217;я" name="name" />
        </div>
        <div class="landing-consultation-form-input-wrap">
          <input class="landing-consultation-form-input" type="text" placeholder="Прізвище" name="surname" />
        </div>
        <div class="landing-consultation-form-input-wrap">
          <input class="landing-consultation-form-input" type="tel" placeholder="Телефон" name="phone" />
        </div>
        <div class="landing-consultation-form-radiobtn-container">
          <label class="landing-consultation-form-radiobtn-wrap">
            <span class="landing-consultation-form-radiobtn-custom-wrap">
              <input type="radio" name="contact-method" value="telegram" class="hidden-element" />
              <span class="landing-consultation-form-radiobtn-custom"></span>
            </span>
            <span class="landing-consultation-form-radiobtn-title">Telegram</span>
          </label>
          <label class="landing-consultation-form-radiobtn-wrap">
            <span class="landing-consultation-form-radiobtn-custom-wrap">
              <input type="radio" name="contact-method" value="viber" class="hidden-element" />
              <span class="landing-consultation-form-radiobtn-custom"></span>
            </span>
            <span class="landing-consultation-form-radiobtn-title">Viber</span>
          </label>
          <label class="landing-consultation-form-radiobtn-wrap">
            <span class="landing-consultation-form-radiobtn-custom-wrap">
              <input type="radio" name="contact-method" value="whatsapp" class="hidden-element" />
              <span class="landing-consultation-form-radiobtn-custom"></span>
            </span>
            <span class="landing-consultation-form-radiobtn-title">WhatsApp</span>
          </label>
          <label class="landing-consultation-form-radiobtn-wrap">
            <span class="landing-consultation-form-radiobtn-custom-wrap">
              <input type="radio" name="contact-method" value="call" class="hidden-element" checked />
              <span class="landing-consultation-form-radiobtn-custom"></span>
            </span>
            <span class="landing-consultation-form-radiobtn-title">Дзвінок</span>
          </label>
        </div>
        <div class="landing-consultation-form-submit-btn-wrap">
          <button class="landing-consultation-form-submit-btn js-landing-consultation-form-submit-btn" type="submit" disabled>Надіслати</button>
        </div>
      </form>
      <div class="landing-consultation-success-form-submit-msg is-hidden js-landing-consultation-success-form-submit-msg">
        <img src="/icons/consultation/star-top.svg" class="landing-consultation-success-form-submit-msg-icon-star top" />
        <img src="/icons/consultation/star-bottom.svg" class="landing-consultation-success-form-submit-msg-icon-star bottom" />
        <button class="landing-consultation-success-form-submit-msg-close-btn js-landing-consultation-success-form-submit-msg-close-btn" type="button">
          <svg class="landing-consultation-success-form-submit-msg-close-btn-icon">
            <use href="/icons/icons.svg#close"></use>
          </svg>
        </button>
        <div class="landing-consultation-success-form-submit-msg-text-wrap">
          <p class="landing-consultation-success-form-submit-msg-title">Дякуємо!</p>
          <p class="landing-consultation-success-form-submit-msg-desc">Ваш запит відправлено</p>
        </div>
      </div>
    </div>
  </div>
</section>
