<section class="landing-courses-wrap" id="courses">
  <div class="landing-courses-container">
    <h2 class="landing-courses-title">До яких предметів готуємо?</h2>
    <div class="landing-courses-list-wrap">
      <svg class="landing-courses-list-clip-icon top">
        <use href="/icons/icons.svg#clip-top"></use>
      </svg>
      <svg class="landing-courses-list-clip-icon bottom">
        <use href="/icons/icons.svg#clip-bottom"></use>
      </svg>
      <ul class="landing-courses-list js-landing-courses-list">
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap js-landing-courses-course-wrap">
            <p class="landing-courses-course-text js-landing-courses-course-text">Українська мова</p>
            <button type="button" class="landing-courses-about-btn js-landing-courses-about-btn">
              <span class="landing-courses-about-btn-title">Записатись</span>
              <img src="/icons/courses/about-btn.svg" class="landing-courses-about-btn-icon" />
            </button>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap js-landing-courses-course-wrap">
            <p class="landing-courses-course-text js-landing-courses-course-text">Математика</p>
            <button type="button" class="landing-courses-about-btn js-landing-courses-about-btn">
              <span class="landing-courses-about-btn-title">Записатись</span>
              <img src="/icons/courses/about-btn.svg" class="landing-courses-about-btn-icon" />
            </button>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap js-landing-courses-course-wrap">
            <p class="landing-courses-course-text js-landing-courses-course-text">Історія україни</p>
            <button type="button" class="landing-courses-about-btn js-landing-courses-about-btn">
              <span class="landing-courses-about-btn-title">Записатись</span>
              <img src="/icons/courses/about-btn.svg" class="landing-courses-about-btn-icon" />
            </button>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap js-landing-courses-course-wrap">
            <p class="landing-courses-course-text js-landing-courses-course-text">Українська література</p>
            <button type="button" class="landing-courses-about-btn js-landing-courses-about-btn">
              <span class="landing-courses-about-btn-title">Записатись</span>
              <img src="/icons/courses/about-btn.svg" class="landing-courses-about-btn-icon" />
            </button>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap js-landing-courses-course-wrap">
            <p class="landing-courses-course-text js-landing-courses-course-text">Англійська мова</p>
            <button type="button" class="landing-courses-about-btn js-landing-courses-about-btn">
              <span class="landing-courses-about-btn-title">Записатись</span>
              <img src="/icons/courses/about-btn.svg" class="landing-courses-about-btn-icon" />
            </button>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap js-landing-courses-course-wrap">
            <p class="landing-courses-course-text js-landing-courses-course-text">Біологія</p>
            <button type="button" class="landing-courses-about-btn js-landing-courses-about-btn">
              <span class="landing-courses-about-btn-title">Записатись</span>
              <img src="/icons/courses/about-btn.svg" class="landing-courses-about-btn-icon" />
            </button>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap js-landing-courses-course-wrap">
            <p class="landing-courses-course-text js-landing-courses-course-text">Географія</p>
            <button type="button" class="landing-courses-about-btn js-landing-courses-about-btn">
              <span class="landing-courses-about-btn-title">Записатись</span>
              <img src="/icons/courses/about-btn.svg" class="landing-courses-about-btn-icon" />
            </button>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap js-landing-courses-course-wrap">
            <p class="landing-courses-course-text js-landing-courses-course-text">Хімія</p>
            <button type="button" class="landing-courses-about-btn js-landing-courses-about-btn">
              <span class="landing-courses-about-btn-title">Записатись</span>
              <img src="/icons/courses/about-btn.svg" class="landing-courses-about-btn-icon" />
            </button>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap js-landing-courses-course-wrap">
            <p class="landing-courses-course-text js-landing-courses-course-text">Фізика</p>
            <button type="button" class="landing-courses-about-btn js-landing-courses-about-btn">
              <span class="landing-courses-about-btn-title">Записатись</span>
              <img src="/icons/courses/about-btn.svg" class="landing-courses-about-btn-icon" />
            </button>
          </div>
        </li>
      </ul>
    </div>
    <button type="button" class="landing-courses-register-btn js-reg-on-course-btn">Залишити заявку</button>
  </div>
</section>
