<section class="landing-courses-wrap" id="courses">
  <div class="landing-courses-container">
    <h2 class="landing-courses-title">До яких предметів готуємо?</h2>
    <div class="landing-courses-list-wrap">
      <svg class="landing-courses-list-clip-icon top">
        <use href="/icons/icons.svg#clip-top"></use>
      </svg>
      <svg class="landing-courses-list-clip-icon bottom">
        <use href="/icons/icons.svg#clip-bottom"></use>
      </svg>
      <ul class="landing-courses-list">
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap">
            <p class="landing-courses-course-text">УКРАЇНСЬКА МОВА</p>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap">
            <p class="landing-courses-course-text">МАТЕМАТИКА</p>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap">
            <p class="landing-courses-course-text">ІСТОРІЯ УКРАЇНИ</p>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap">
            <p class="landing-courses-course-text">УКРАЇНСЬКА ЛІТЕРАТУРА</p>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap">
            <p class="landing-courses-course-text">АНГЛІЙСЬКА МОВА</p>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap">
            <p class="landing-courses-course-text">БІОЛОГІЯ</p>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap">
            <p class="landing-courses-course-text">ГЕОГРАФІЯ</p>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap">
            <p class="landing-courses-course-text">ХІМІЯ</p>
          </div>
        </li>
        <li class="landing-courses-list-item">
          <div class="landing-courses-course-wrap">
            <p class="landing-courses-course-text">ФІЗИКА</p>
          </div>
        </li>
      </ul>
    </div>
    <a href="#openRegPopup" class="landing-courses-register-btn">Зареєструватись</a>
  </div>
</section>
