<section class="landing-experienced-teachers-wrap">
  <h2 class="hidden-element">Досвідчені викладачі</h2>
  <div class="landing-experienced-teachers-container">
    <p class="landing-experienced-teachers-title">Досвідчені <span class="landing-experienced-teachers-title-accent">викладачі</span><br />допоможуть досягти цілей</p>
    <div class="landing-experienced-teachers-cards-wrap">
      <div class="landing-experienced-teachers-cards">
        <div class="landing-experienced-teachers-card-slider-wrap">
          <svg class="landing-experienced-teachers-card-slider-clip-icon">
            <use href="/icons/icons.svg#clip"></use>
          </svg>
          <div class="landing-experienced-teachers-card-slider-container">slider</div>
        </div>
        <div class="landing-experienced-teachers-cards-experience-wrap">
          <img src="/images/experienced-teachers/woman.jpg" alt="фото жінки" class="landing-experienced-teachers-experience-woman-img" />
          <div class="landing-experienced-teachers-experience-wrap mobile">
            <svg class="landing-experienced-teachers-experience-icon">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <div class="landing-experienced-teachers-experience">
              <p class="landing-experienced-teachers-experience-text">12 років<br />досвіду</p>
            </div>
          </div>
        </div>
      </div>
      <div class="landing-experienced-teachers-cards gallery">
        <div class="landing-experienced-teachers-cards-gallery">
          <div class="landing-experienced-teachers-experience-wrap desk">
            <svg class="landing-experienced-teachers-experience-icon">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <div class="landing-experienced-teachers-experience">
              <p class="landing-experienced-teachers-experience-text">12 років<br />досвіду</p>
            </div>
          </div>
          <img src="/images/experienced-teachers/students.jpg" alt="фото студентів" class="landing-experienced-teachers-experience-students-img" />
        </div>
        <img src="/images/experienced-teachers/teacher.jpg" alt="фото вчителя" class="landing-experienced-teachers-experience-teacher-img" />
      </div>
    </div>
  </div>
</section>
