<footer class="landing-footer-wrap">
  <div class="landing-footer-container">
    <div class="landing-footer-content">
      <div class="landing-footer-info-wrap">
        <div class="landing-footer-info-links-wrap">
          <div class="landing-footer-info-logo-wrap">
            <a href="/" class="landing-footer-info-logo-link">
              <svg class="landing-footer-info-logo-link-icon">
                <use href="/icons/icons.svg#footer-logo"></use>
              </svg>
            </a>
            <ul class="landing-footer-social-links-list mobile">
              <li class="landing-footer-social-links-list-item">
                <a class="landing-footer-social-links-list-link" href="https://www.facebook.com/amr.education/" target="_blank" rel="noopener noreferrer nofollow">
                  <svg class="landing-footer-social-links-list-link-icon">
                    <use href="/icons/icons.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="landing-footer-social-links-list-item">
                <a class="landing-footer-social-links-list-link" href="https://www.instagram.com/amr_education/" target="_blank" rel="noopener noreferrer nofollow">
                  <svg class="landing-footer-social-links-list-link-icon">
                    <use href="/icons/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="landing-footer-social-links-list-item">
                <a class="landing-footer-social-links-list-link" href="/" target="_blank" rel="noopener noreferrer nofollow">
                  <svg class="landing-footer-social-links-list-link-icon">
                    <use href="/icons/icons.svg#youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <ul class="landing-footer-nav-links-list">
            <li class="landing-footer-nav-links-list-item">
              <a class="landing-footer-nav-links-list-link" href="#about">Про нас</a>
            </li>
            <li class="landing-footer-nav-links-list-item">
              <a class="landing-footer-nav-links-list-link" href="#advantages">Переваги</a>
            </li>
            <li class="landing-footer-nav-links-list-item">
              <a class="landing-footer-nav-links-list-link" href="#courses">Курси</a>
            </li>
            <li class="landing-footer-nav-links-list-item">
              <a class="landing-footer-nav-links-list-link" href="#packets">Тарифи</a>
            </li>
            <li class="landing-footer-nav-links-list-item">
              <a class="landing-footer-nav-links-list-link" href="#team">Команда</a>
            </li>
            <li class="landing-footer-nav-links-list-item">
              <a class="landing-footer-nav-links-list-link" href="#reviews">Відгуки</a>
            </li>
          </ul>
        </div>
        <div class="landing-footer-address-wrap">
          <address class="landing-footer-address">
            <ul class="landing-footer-address-links-list">
              <li class="landing-footer-address-links-list-item">
                <a class="landing-footer-address-links-list-link" href="mailto:amreducation2020@gmail.com">
                  <svg class="landing-footer-address-links-list-link-icon">
                    <use href="/icons/icons.svg#footer-email"></use>
                  </svg>
                  <span class="landing-footer-address-links-list-link-title">amreducation2020@gmail.com</span>
                </a>
              </li>
              <li class="landing-footer-address-links-list-item">
                <div class="landing-footer-address-links-list-link">
                  <svg class="landing-footer-address-links-list-link-icon">
                    <use href="/icons/icons.svg#footer-phone"></use>
                  </svg>
                  <span class="landing-footer-address-links-list-link-title"
                    ><a class="landing-footer-address-links-list-link-title" href="tel:+380638175758">+38 063 817 57 58</a>,
                    <a class="landing-footer-address-links-list-link-title" href="tel:+380678270435">+38 067 827 04 35</a></span
                  >
                </div>
              </li>
              <li class="landing-footer-address-links-list-item">
                <a class="landing-footer-address-links-list-link" href="https://maps.app.goo.gl/rMMmi3fhSn3DEiRQ9" target="_blank" rel="noopener noreferrer">
                  <svg class="landing-footer-address-links-list-link-icon">
                    <use href="/icons/icons.svg#map-marker"></use>
                  </svg>
                  <span class="landing-footer-address-links-list-link-title">м. Львів, вул. Пекарська, 7</span>
                </a>
              </li>
              <li class="landing-footer-address-links-list-item">
                <a class="landing-footer-address-links-list-link" href="https://maps.app.goo.gl/sAAScVYy2Ur8eviz5" target="_blank" rel="noopener noreferrer">
                  <svg class="landing-footer-address-links-list-link-icon">
                    <use href="/icons/icons.svg#map-marker"></use>
                  </svg>
                  <span class="landing-footer-address-links-list-link-title">м. Київ, вул. Верхній Вал, 32</span>
                </a>
              </li>
            </ul>
          </address>
          <div class="landing-footer-form-wrap">
            <p class="landing-footer-form-title">Підпишись, щоб бути в курсі подій:</p>
            <form class="landing-footer-form js-landing-footer-form">
              <input type="hidden" />
              <div class="landing-footer-form-input-wrap">
                <input class="landing-footer-form-input" type="email" placeholder="Email" name="email" />
              </div>
              <div class="landing-footer-form-submit-btn-wrap">
                <button class="landing-footer-form-submit-btn js-landing-footer-form-submit-btn" type="submit" disabled>Підписатись</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="landing-footer-copyright-wrap">
        <p class="landing-footer-copyright">
          <span>© 2024 AMR Education. Всі права захищені | </span><a class="landing-footer-copyright-link" href="/oferta" target="_blank" rel="noopener noreferrer nofollow">Публічна оферта</a> |
          <a class="landing-footer-copyright-link" href="/policy" target="_blank" rel="noopener noreferrer nofollow">Політика Конфіденційності</a>
        </p>
        <ul class="landing-footer-social-links-list desk">
          <li class="landing-footer-social-links-list-item">
            <a class="landing-footer-social-links-list-link" href="https://www.facebook.com/amr.education/" target="_blank" rel="noopener noreferrer nofollow">
              <svg class="landing-footer-social-links-list-link-icon">
                <use href="/icons/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="landing-footer-social-links-list-item">
            <a class="landing-footer-social-links-list-link" href="https://www.instagram.com/amr_education/" target="_blank" rel="noopener noreferrer nofollow">
              <svg class="landing-footer-social-links-list-link-icon">
                <use href="/icons/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="landing-footer-social-links-list-item">
            <a class="landing-footer-social-links-list-link" href="/" target="_blank" rel="noopener noreferrer nofollow">
              <svg class="landing-footer-social-links-list-link-icon">
                <use href="/icons/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
