<header class="header-landing-wrap">
  <div class="header-landing-container">
    <div class="header-landing-nav-wrap">
      <a class="header-landing-logo" href="/">
        <svg class="header-landing-logo-icon">
          <use href="/icons/icons.svg#amr-logo"></use>
        </svg>
      </a>
      <nav class="header-landing-nav">
        <ul class="header-landing-list">
          <li class="header-landing-list-item"><a href="#about" class="header-landing-list-item-link">Про нас</a></li>
          <li class="header-landing-list-item"><a href="#advantages" class="header-landing-list-item-link">Переваги</a></li>
          <li class="header-landing-list-item"><a href="#courses" class="header-landing-list-item-link">Курси</a></li>
          <li class="header-landing-list-item"><a href="#packets" class="header-landing-list-item-link">Тарифи</a></li>
          <li class="header-landing-list-item"><a href="#team" class="header-landing-list-item-link">Команда</a></li>
          <li class="header-landing-list-item"><a href="#reviews" class="header-landing-list-item-link">Відгуки</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-landing-right">
      <a class="header-landing-phone" href="tel:+380678270435">
        <svg class="header-landing-phone-icon">
          <use href="/icons/icons.svg#phone"></use>
        </svg>
      </a>
      <div class="header-landing-login-btns">
        <a class="header-landing-login-btn" href="/login">Вхід</a>
      </div>
      <div class="header-landing-hamburger-btn" id="hamburger">
        <svg class="header-landing-hamburger-btn-icon">
          <use href="/icons/icons.svg#burger-menu"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="header-landing-mobile-menu headerNav">
    <div class="header-landing-mobile-menu-content">
      <a class="header-landing-mobile-menu-logo" href="/">
        <svg class="header-landing-mobile-menu-logo-icon">
          <use href="/icons/icons.svg#amr-logo"></use>
        </svg>
      </a>
      <div class="close closeMobileMenu">
        <svg class="header-landing-mobile-menu-close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </div>
      <nav class="mobile-menu__nav">
        <ul class="header-landing-mobile-menu-list">
          <li class="header-landing-mobile-menu-list-item"><a href="#about" class="header-landing-mobile-menu-list-item-link">Про нас</a></li>
          <li class="header-landing-mobile-menu-list-item"><a href="#advantages" class="header-landing-mobile-menu-list-item-link">Переваги</a></li>
          <li class="header-landing-mobile-menu-list-item"><a href="#courses" class="header-landing-mobile-menu-list-item-link">Курси</a></li>
          <li class="header-landing-mobile-menu-list-item"><a href="#packets" class="header-landing-mobile-menu-list-item-link">Тарифи</a></li>
          <li class="header-landing-mobile-menu-list-item"><a href="#reviews" class="header-landing-mobile-menu-list-item-link">Відгуки</a></li>
        </ul>
      </nav>
      <div class="header-landing-mobile-menu-controls">
        <a class="header-landing-login-btn" href="/login">Вхід</a>
        <a class="header-landing-mobile-menu-trial-lesson-btn popupBtn" href="#openRegPopup">Безкоштовне заняття</a>
        <div class="header-landing-mobile-menu-messengers">
          <p>
            <a href="https://www.facebook.com/amr.education/" target="_blank">
              <svg class="header-landing-mobile-menu-messengers-list-item-link-icon">
                <use href="/icons/icons.svg#facebook"></use>
              </svg>
            </a>
          </p>
          <p>
            <a href="https://www.instagram.com/amr_education/" target="_blank">
              <svg class="header-landing-mobile-menu-messengers-list-item-link-icon">
                <use href="/icons/icons.svg#instagram"></use>
              </svg>
            </a>
          </p>
          <p>
            <a href="/" target="_blank">
              <svg class="header-landing-mobile-menu-messengers-list-item-link-icon">
                <use href="/icons/icons.svg#youtube"></use>
              </svg>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
