<header class="header-landing">
  <div class="header-landing__container">
    <div class="header-landing__nav-wrap">
      <a class="header-landing__logo" href="/">
        <svg class="header-landing__logo-icon">
          <use href="/icons/icons.svg#amr-logo"></use>
        </svg>
      </a>
      <nav class="header-landing__nav">
        <ul class="header-landing__list">
          <li class="header-landing__list-item"><a href="#about" class="header-landing__list-item-link">Про нас</a></li>
          <li class="header-landing__list-item"><a href="#advantages" class="header-landing__list-item-link">Переваги</a></li>
          <li class="header-landing__list-item"><a href="#courses" class="header-landing__list-item-link">Курси</a></li>
          <li class="header-landing__list-item"><a href="#packets" class="header-landing__list-item-link">Тарифи</a></li>
          <li class="header-landing__list-item"><a href="#team" class="header-landing__list-item-link">Команда</a></li>
          <li class="header-landing__list-item"><a href="#reviews" class="header-landing__list-item-link">Відгуки</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-landing__right">
      <a class="header-landing__phone" href="tel:+380678270435">
        <svg class="header-landing__phone-icon">
          <use href="/icons/icons.svg#phone"></use>
        </svg>
      </a>
      <!-- <a class="header-landing__login" href="/">
        <svg class="icon icon-Union">
          <use xlink:href="/img/svg/symbol/sprite.svg#Union"></use>
        </svg>
      </a> -->
      <div class="header-landing__login-btns">
        <a class="header-login-btn" href="/login">Вхід</a>
      </div>
      <div class="hamburger" id="hamburger">
        <svg class="hamburger-btn-icon">
          <use href="/icons/icons.svg#burger-menu"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="mobile-menu headerNav">
    <div class="mobile-menu__content">
      <a class="mobile-menu__logo" href="/">
        <svg class="mobile-menu__logo-icon">
          <use href="/icons/icons.svg#amr-logo"></use>
        </svg>
      </a>
      <div class="close closeMobileMenu">
        <svg class="mobile-menu__close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </div>
      <nav class="mobile-menu__nav">
        <ul class="mobile-menu__list">
          <li class="mobile-menu__list-item"><a href="#about" class="mobile-menu__list-item-link">Про нас</a></li>
          <li class="mobile-menu__list-item"><a href="#advantages" class="mobile-menu__list-item-link">Переваги</a></li>
          <li class="mobile-menu__list-item"><a href="#courses" class="mobile-menu__list-item-link">Курси</a></li>
          <li class="mobile-menu__list-item"><a href="#packets" class="mobile-menu__list-item-link">Тарифи</a></li>
          <li class="mobile-menu__list-item"><a href="#reviews" class="mobile-menu__list-item-link">Відгуки</a></li>
        </ul>
      </nav>
      <div class="mobile-menu__controls">
        <button class="mobile-menu__trial-lesson-btn">Безкоштовне заняття</button>
        <ul class="messengers">
          <li class="messengers-list-item">
            <a href="https://www.facebook.com/amr.education/" target="_blank">
              <svg class="messengers-list-item-link-icon">
                <use href="/icons/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="messengers-list-item">
            <a href="https://www.instagram.com/amr_education/" target="_blank">
              <svg class="messengers-list-item-link-icon">
                <use href="/icons/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="messengers-list-item">
            <a href="/" target="_blank">
              <svg class="messengers-list-item-link-icon">
                <use href="/icons/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
