<section class="landing-hero">
  <div class="landing-hero__container">
    <svg class="hero-img-icon">
      <use href="../icons/hero/hero-img.svg"></use>
    </svg>
    <div class="landing-hero__left">
      <h1 class="landing-hero__title">Підготовка до НМТ<br /><span class="landing-hero__title-accent">у задоволення</span></h1>
      <p class="landing-hero__text">Дистанційне навчання з індивідуальним підходом</p>
      <a class="reg-btn popupBtn" href="#openRegPopup">Безкоштовне заняття</a>
    </div>
  </div>
</section>
