<section class="landing-hero-wrap">
  <div class="landing-hero-container">
    <img class="landing-hero-img-icon" src="/icons/hero/hero-img.svg" />
    <div class="landing-hero-left">
      <h1 class="landing-hero-title">Підготовка до НМТ<br /><span class="landing-hero-title-accent">у задоволення</span></h1>
      <p class="landing-hero-text">Дистанційне навчання<br />з індивідуальним підходом</p>
      <a class="landing-hero-reg-btn popupBtn" href="#openRegPopup">Безкоштовне заняття</a>
    </div>
  </div>
</section>
