<section class="landing-hero-wrap">
  <div class="landing-hero-container">
    <img class="landing-hero-img-icon" src="/icons/hero/hero-img.svg" data-aos="fade-up" />
    <div class="landing-hero-left">
      <div class="decorative-border">
        <h1 class="landing-hero-title" data-aos="fade-up">Підготовка до НМТ<br /><span class="landing-hero-title-accent">у задоволення</span></h1>
      </div>
      <div class="decorative-border">
        <p class="landing-hero-text" data-aos="fade-up">Дистанційне навчання<br />з індивідуальним підходом</p>
      </div>
      <button type="button" class="landing-hero-reg-btn js-trial-lesson-btn" data-aos="fade-up">Безкоштовне заняття</button>
    </div>
  </div>
</section>
