<section class="landing-instagram-wrap">
  <h2 class="hidden-element">Наш Instagram</h2>
  <div class="landing-instagram-container">
    <p class="landing-instagram-title">
      Познайомимось<br />ближче? <span class="landing-instagram-title-accent">Долучайся<br />до нашого instagram</span>
    </p>
    <a class="landing-instagram-link" href="https://www.instagram.com/amr_education/" target="_blank" rel="noopener noreferrer nofollow">Долучитись</a>
    <img class="landing-instagram-icon" src="/icons/instagram/hand.svg" />
  </div>
</section>
