<section class="landing-lessons-formats-wrap">
  <div class="landing-lessons-formats-container">
    <h2 class="landing-lessons-formats-title">Формати навчання</h2>
    <ul class="landing-lessons-formats-list">
      <li class="landing-lessons-formats-list-item">
        <div class="landing-lessons-formats-list-format group-lessons">
          <p class="landing-lessons-formats-list-format-title">Групові заняття</p>
          <p class="landing-lessons-formats-list-format-text">Це не просто навчання, а справжня спільнота, де кожен може бути собою та проявлятись на всі 100%</p>
          <a href="#openRegPopup" class="landing-lessons-formats-register-btn popupBtn">Детальніше</a>
        </div>
      </li>
      <li class="landing-lessons-formats-list-item">
        <div class="landing-lessons-formats-list-format individual-lessons">
          <p class="landing-lessons-formats-list-format-title">Індивідуальні заняття</p>
          <p class="landing-lessons-formats-list-format-text">Тут ви зможете працювати в комфортному для себе темпі та сфокусуватись на своїх особистих запитах</p>
          <a href="#openRegPopup" class="landing-lessons-formats-register-btn popupBtn">Детальніше</a>
        </div>
      </li>
      <li class="landing-lessons-formats-list-item">
        <div class="landing-lessons-formats-list-format pair-lessons">
          <p class="landing-lessons-formats-list-format-title">Парні заняття</p>
          <p class="landing-lessons-formats-list-format-text">Чудовий спосіб об&#8217;єднати сили зі своїм найкращим другом задля досягнення крутого результату, ну й звісно добре проводити час</p>
          <a href="#openRegPopup" class="landing-lessons-formats-register-btn popupBtn">Детальніше</a>
        </div>
      </li>
    </ul>
  </div>
</section>
