<section class="landing-our-new-product-wrap">
  <h2 class="hidden-element">Наша новинка</h2>
  <div class="landing-our-new-product-container">
    <div class="landing-our-new-product-content-wrap">
      <div class="landing-our-new-product-title-wrap">
        <p class="landing-our-new-product-title">Наша новинка — <span class="landing-our-new-product-title-accent">відеокурси</span></p>
        <div class="landing-our-new-product-text-wrap">
          <p class="landing-our-new-product-text">Унікальна можливість спробувати новий формат навчаня разом з нами</p>
        </div>
      </div>
      <ul class="landing-our-new-product-list">
        <li class="landing-our-new-product-list-item">
          <div class="landing-our-new-product-list-product">
            <p class="landing-our-new-product-list-product-title">Українська мова</p>
            <p class="landing-our-new-product-list-product-text">Зручний спосіб вивчення мови, який поєднує в собі візуальну і аудіоінформацію для кращого засвоєння матеріалу</p>
            <a href="#openRegPopup" class="landing-our-new-product-register-btn popupBtn">
              <span class="landing-our-new-product-register-btn-title">Записатись</span>
              <img src="/icons/our-new-product/register-btn.svg" class="landing-our-new-product-register-btn-icon" />
            </a>
            <img src="/icons/our-new-product/Ukrainian-language.svg" class="landing-our-new-product-list-product-icon language" />
          </div>
        </li>
        <li class="landing-our-new-product-list-item">
          <div class="landing-our-new-product-list-product">
            <p class="landing-our-new-product-list-product-title">Історія України</p>
            <p class="landing-our-new-product-list-product-text">Це не лише уроки, це можливість відчути себе часткою великої історії, яка об'єднує і надихає на майбутнє</p>
            <a href="#openRegPopup" class="landing-our-new-product-register-btn popupBtn">
              <span>Записатись</span>
              <img src="/icons/our-new-product/register-btn.svg" />
            </a>
            <img src="/icons/our-new-product/history-of-Ukraine.svg" class="landing-our-new-product-list-product-icon history" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
