<section class="landing-questions-wrap">
  <div class="landing-questions-container">
    <h2 class="landing-questions-title">Часті запитання</h2>
    <ul class="landing-questions-list js-landing-questions-list">
      <li class="landing-questions-list-item">
        <div class="landing-questions-list-question-wrap hidden-desc js-landing-questions-list-question-wrap">
          <button type="button" class="landing-questions-list-question-btn js-landing-questions-list-question-btn">
            <span class="landing-questions-list-question-btn-title">Скільки часу триває навчання?</span>
            <img class="landing-questions-list-question-btn-icon" src="/icons/questions/question-btn.svg" />
          </button>
          <div class="landing-questions-list-answer-wrap">
            <p class="landing-questions-list-answer">відповідь</p>
          </div>
        </div>
      </li>
      <li class="landing-questions-list-item">
        <div class="landing-questions-list-question-wrap hidden-desc js-landing-questions-list-question-wrap">
          <button type="button" class="landing-questions-list-question-btn js-landing-questions-list-question-btn">
            <span class="landing-questions-list-question-btn-title">Чи залишаються матеріали після закінчення курсу?</span>
            <img class="landing-questions-list-question-btn-icon" src="/icons/questions/question-btn.svg" />
          </button>
          <div class="landing-questions-list-answer-wrap">
            <p class="landing-questions-list-answer">відповідь</p>
          </div>
        </div>
      </li>
      <li class="landing-questions-list-item">
        <div class="landing-questions-list-question-wrap hidden-desc js-landing-questions-list-question-wrap">
          <button type="button" class="landing-questions-list-question-btn js-landing-questions-list-question-btn">
            <span class="landing-questions-list-question-btn-title">Скільки часу потрібно для якісної підготовки?</span>
            <img class="landing-questions-list-question-btn-icon" src="/icons/questions/question-btn.svg" />
          </button>
          <div class="landing-questions-list-answer-wrap">
            <p class="landing-questions-list-answer">відповідь</p>
          </div>
        </div>
      </li>
      <li class="landing-questions-list-item">
        <div class="landing-questions-list-question-wrap hidden-desc js-landing-questions-list-question-wrap">
          <button type="button" class="landing-questions-list-question-btn js-landing-questions-list-question-btn">
            <span class="landing-questions-list-question-btn-title">Що буде, якщо я пропущу заняття?</span>
            <img class="landing-questions-list-question-btn-icon" src="/icons/questions/question-btn.svg" />
          </button>
          <div class="landing-questions-list-answer-wrap">
            <p class="landing-questions-list-answer">відповідь</p>
          </div>
        </div>
      </li>
      <li class="landing-questions-list-item">
        <div class="landing-questions-list-question-wrap hidden-desc js-landing-questions-list-question-wrap">
          <button type="button" class="landing-questions-list-question-btn js-landing-questions-list-question-btn">
            <span class="landing-questions-list-question-btn-title">Як відбувається оплата?</span>
            <img class="landing-questions-list-question-btn-icon" src="/icons/questions/question-btn.svg" />
          </button>
          <div class="landing-questions-list-answer-wrap">
            <p class="landing-questions-list-answer">відповідь</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
