<section class="landing-reviews-wrap">
  <div class="landing-reviews-container">
    <h2 class="landing-reviews-title">Відгуки</h2>
    <div class="swiper landing-reviews-slider js-reviews-slider">
      <div class="swiper-wrapper landing-reviews-slider-wrapper js-landing-reviews-list">
        <div class="swiper-slide landing-reviews-slider-slide">
          <div class="landing-reviews-slider-slide-review">
            <svg class="landing-reviews-slider-slide-review-star-icon top">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <svg class="landing-reviews-slider-slide-review-star-icon bottom">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <div class="landing-reviews-slider-slide-review-img-wrap js-landing-reviews-slider-slide-review-video-wrap">
              <video class="landing-reviews-slider-slide-review-img" src="/video/reviews/yaroslav.mov"></video>
              <button type="button" class="landing-reviews-slider-slide-review-video-control-btn js-landing-reviews-slider-slide-review-video-control-btn">
                <svg class="landing-reviews-slider-slide-review-video-control-btn-icon play">
                  <use href="/icons/icons.svg#play"></use>
                </svg>
                <svg class="landing-reviews-slider-slide-review-video-control-btn-icon pause">
                  <use href="/icons/icons.svg#pause"></use>
                </svg>
              </button>
            </div>
            <div class="landing-reviews-slider-slide-review-text-wrap">
              <p class="landing-reviews-slider-slide-review-name big">ЯРОСЛАВ ПРІЗВИЩЕ</p>
              <p class="landing-reviews-slider-slide-review-text medium">
                Освітній простір має на меті підвищити рівень знань школяра з навчальних предметів. Вони доведуть вам, що навчання просте, цікаве та доступне. Основне завдання їхніх педагогів —
                підібрати професійний та індивідуальний підхід до кожного учня.
              </p>
            </div>
            <div class="landing-reviews-slider-slide-review-backdrop"></div>
          </div>
        </div>
        <div class="swiper-slide landing-reviews-slider-slide">
          <div class="landing-reviews-slider-slide-review">
            <svg class="landing-reviews-slider-slide-review-star-icon top">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <svg class="landing-reviews-slider-slide-review-star-icon bottom">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <div class="landing-reviews-slider-slide-review-img-wrap js-landing-reviews-slider-slide-review-video-wrap">
              <video class="landing-reviews-slider-slide-review-img" src="/video/reviews/yaroslav.mov"></video>
              <button type="button" class="landing-reviews-slider-slide-review-video-control-btn js-landing-reviews-slider-slide-review-video-control-btn">
                <svg class="landing-reviews-slider-slide-review-video-control-btn-icon play">
                  <use href="/icons/icons.svg#play"></use>
                </svg>
                <svg class="landing-reviews-slider-slide-review-video-control-btn-icon pause">
                  <use href="/icons/icons.svg#pause"></use>
                </svg>
              </button>
            </div>
            <div class="landing-reviews-slider-slide-review-text-wrap">
              <p class="landing-reviews-slider-slide-review-name big">НАЗАР ПРІЗВИЩЕ</p>
              <p class="landing-reviews-slider-slide-review-text medium">
                Освітній простір має на меті підвищити рівень знань школяра з навчальних предметів. Вони доведуть вам, що навчання просте, цікаве та доступне. Основне завдання їхніх педагогів —
                підібрати професійний та індивідуальний підхід до кожного учня.
              </p>
            </div>
            <div class="landing-reviews-slider-slide-review-backdrop"></div>
          </div>
        </div>
        <div class="swiper-slide landing-reviews-slider-slide">
          <div class="landing-reviews-slider-slide-review">
            <svg class="landing-reviews-slider-slide-review-star-icon top">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <svg class="landing-reviews-slider-slide-review-star-icon bottom">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <div class="landing-reviews-slider-slide-review-img-wrap"><img class="landing-reviews-slider-slide-review-img" src="/images/reviews/ihor.jpg" alt="Фото користувача" /></div>
            <div class="landing-reviews-slider-slide-review-text-wrap">
              <p class="landing-reviews-slider-slide-review-name big">ІГОР УСТРИЦЬКИЙ</p>
              <p class="landing-reviews-slider-slide-review-text medium">
                Освітній простір має на меті підвищити рівень знань школяра з навчальних предметів. Вони доведуть вам, що навчання просте, цікаве та доступне. Основне завдання їхніх педагогів —
                підібрати професійний та індивідуальний підхід до кожного учня.
              </p>
            </div>
            <div class="landing-reviews-slider-slide-review-backdrop"></div>
          </div>
        </div>
        <div class="swiper-slide landing-reviews-slider-slide">
          <div class="landing-reviews-slider-slide-review">
            <svg class="landing-reviews-slider-slide-review-star-icon top">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <svg class="landing-reviews-slider-slide-review-star-icon bottom">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <div class="landing-reviews-slider-slide-review-img-wrap"><img class="landing-reviews-slider-slide-review-img" src="/images/reviews/nadiya.jpg" alt="Фото користувача" /></div>
            <div class="landing-reviews-slider-slide-review-text-wrap">
              <p class="landing-reviews-slider-slide-review-name big">Надія тримбалюк</p>
              <p class="landing-reviews-slider-slide-review-text">
                Дуже задоволена, що записала сина на курси підготовки до ЗНО з української мови. Невелика група учнів, яка сформована за рівнем знань. Викладач зрозуміло пояснює теорію, що тісно
                переплітається з практичними заняттями і дає можливість добре закріпити матеріал. Професійний вчитель приділяє увагу кожному з учнів. Син задоволений. Сподіваємось на гарні результати
                ЗНО. Гарно дякуємо колективу. Рекомендую!
              </p>
            </div>
            <div class="landing-reviews-slider-slide-review-backdrop"></div>
          </div>
        </div>
        <div class="swiper-slide landing-reviews-slider-slide">
          <div class="landing-reviews-slider-slide-review">
            <svg class="landing-reviews-slider-slide-review-star-icon top">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <svg class="landing-reviews-slider-slide-review-star-icon bottom">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <div class="landing-reviews-slider-slide-review-img-wrap"><img class="landing-reviews-slider-slide-review-img" src="/images/reviews/inna.jpg" alt="Фото користувача" /></div>
            <div class="landing-reviews-slider-slide-review-text-wrap">
              <p class="landing-reviews-slider-slide-review-name medium">інна арат</p>
              <p class="landing-reviews-slider-slide-review-text">
                Неймовірна, терпляча та професійна команда! Молодший син, не зважаючи на карантинні обмеження, отримав хороші результати за рік, а старший син здав добре ЗНО я вдячна вам, що вивчили у
                такий складний час дітей бездоганно! Ви — молодці! Успіхів вам ми ще попрацюємо!
              </p>
            </div>
            <div class="landing-reviews-slider-slide-review-backdrop"></div>
          </div>
        </div>
        <div class="swiper-slide landing-reviews-slider-slide">
          <div class="landing-reviews-slider-slide-review">
            <svg class="landing-reviews-slider-slide-review-star-icon top">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <svg class="landing-reviews-slider-slide-review-star-icon bottom">
              <use href="/icons/icons.svg#star"></use>
            </svg>
            <div class="landing-reviews-slider-slide-review-img-wrap"><img class="landing-reviews-slider-slide-review-img" src="/images/reviews/oleh.jpg" alt="Фото користувача" /></div>
            <div class="landing-reviews-slider-slide-review-text-wrap">
              <p class="landing-reviews-slider-slide-review-name medium">олег равлик</p>
              <p class="landing-reviews-slider-slide-review-text">
                Дуже вдячний AMR Education за підготовку до НМТ, завдяки викладачам зміг набагато покращити свої знання та скласти НМТ на хороший бал.
              </p>
            </div>
            <div class="landing-reviews-slider-slide-review-backdrop"></div>
          </div>
        </div>
      </div>
      <div class="landing-reviews-slider-pagination"></div>
      <div class="landing-reviews-slider-controls">
        <button type="button" class="landing-reviews-slider-btn prev js-landing-reviews-slider-btn-prev">
          <svg class="landing-reviews-slider-btn-icon">
            <use href="/icons/icons.svg#slider-arrow"></use>
          </svg>
        </button>
        <button type="button" class="landing-reviews-slider-btn next js-landing-reviews-slider-btn-next">
          <svg class="landing-reviews-slider-btn-icon next">
            <use href="/icons/icons.svg#slider-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
