<section class="landing-slogan-section">
  <div class="landing-slogan-container">
    <h2 class="landing-slogan-title">Наша школа — твій <span class="landing-slogan-title-accent">шлях до успіху</span></h2>
    <div class="landing-slogan-text-wrap">
      <p class="landing-slogan-text">
        Ми розробили унікальну систему навчання, яка допомагає ефективно підготуватись до НМТ. Віримо в кожного учня і знаємо, що разом ми здатні досягти будь-яких висот.
      </p>
    </div>
  </div>
  <img class="landing-slogan-decorative-hand" src="/icons/slogan/slogan-hand.svg" />
</section>
