<div class="landing-success-form-submit-msg-modal-win is-hidden js-modal-win js-landing-success-form-submit-msg-modal-win">
  <div class="landing-success-form-submit-msg-modal-win-backdrop js-landing-backdrop">
    <div class="landing-success-form-submit-msg-modal-win-container">
      <button type="button" class="landing-success-form-submit-msg-modal-win-close-btn js-landing-success-form-submit-msg-modal-win">
        <svg class="landing-success-form-submit-msg-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </button>
      <img src="/icons/trial-lesson-modal-win/star-top.svg" class="landing-success-form-submit-msg-modal-win-icon-star top" />
      <img src="/icons/trial-lesson-modal-win/star-bottom.svg" class="landing-success-form-submit-msg-modal-win-icon-star bottom" />
      <div class="landing-success-form-submit-msg-modal-win-text-wrap">
        <p class="landing-success-form-submit-msg-modal-win-title">Дякуємо!</p>
        <p class="landing-success-form-submit-msg-modal-win-desc">Ваш запит відправлено</p>
      </div>
    </div>
  </div>
</div>
