<div class="landing-backdrop-wrap is-hidden js-trial-lesson-modal-win js-modal-win">
  <div class="landing-backdrop js-landing-backdrop">
    <div class="landing-modal-win">
      <button type="button" class="landing-trial-lesson-modal-win-close-btn js-trial-lesson-modal-win-close-btn">
        <svg class="landing-trial-lesson-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </button>
      <div class="landing-trial-lesson-modal-win-container">
        <p class="landing-trial-lesson-modal-win-title">Запишись на<br /><span class="landing-trial-lesson-modal-win-title-accent">пробне заняття</span></p>
        <p class="landing-trial-lesson-modal-win-text">Перший урок безкоштовний</p>
        <div class="wpcf7 js" id="wpcf7-f6200-o2" lang="uk" dir="ltr">
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form
            action="/pidgotovka-do-zno/#wpcf7-f6200-o2"
            method="post"
            class="wpcf7-form landing-trial-lesson-form js-trial-lesson-form init"
            aria-label="Contact form"
            novalidate="novalidate"
            data-status="init"
          >
            <div style="display: none">
              <input type="hidden" name="_wpcf7" value="6200" />
              <input type="hidden" name="_wpcf7_version" value="5.7.7" />
              <input type="hidden" name="_wpcf7_locale" value="uk" />
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f6200-o2" />
              <input type="hidden" name="_wpcf7_container_post" value="0" />
              <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
            </div>
            <input class="wpcf7-form-control wpcf7-hidden" value="modal-lections-subcribe" type="hidden" name="modal-name" />
            <div class="landing-trial-lesson-form-list-btn-wrap">
              <p>
                <button type="button" class="landing-trial-lesson-form-list-btn js-show-trial-lessons-list-toggle-btn">
                  <br />
                  <span class="landing-trial-lesson-form-list-btn-title js-landing-trial-lesson-form-list-btn-title">Обрати предмет</span><br />
                  <img
                    class="landing-trial-lesson-form-list-btn-icon"
                    src="data:image/svg+xml,%3csvg%20width='10'%20height='10'%20viewBox='0%200%2010%2010'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cline%20x1='0.353553'%20y1='4.6462'%20x2='5.3033'%20y2='9.59595'%20stroke='%237A7A7A'/%3e%3cline%20x1='9.54496'%20y1='4.64628'%20x2='5.30232'%20y2='8.88892'%20stroke='%237A7A7A'/%3e%3c/svg%3e"
                  /><br />
                </button>
              </p>
              <div class="landing-trial-lesson-form-list-btn-wrap">
                <p>
                  <span class="wpcf7-form-control-wrap" data-name="course"
                    ><span class="wpcf7-form-control wpcf7-checkbox landing-trial-lesson-list is-hidden js-trial-lessons-list"
                      ><span class="wpcf7-list-item first"><input type="checkbox" name="course[]" value="Українська мова" /><span class="wpcf7-list-item-label">Українська мова</span></span
                      ><span class="wpcf7-list-item"><input type="checkbox" name="course[]" value="Математика" /><span class="wpcf7-list-item-label">Математика</span></span
                      ><span class="wpcf7-list-item"><input type="checkbox" name="course[]" value="Історія України" /><span class="wpcf7-list-item-label">Історія України</span></span
                      ><span class="wpcf7-list-item"><input type="checkbox" name="course[]" value="Українська література" /><span class="wpcf7-list-item-label">Українська література</span></span
                      ><span class="wpcf7-list-item"><input type="checkbox" name="course[]" value="Англійська мова" /><span class="wpcf7-list-item-label">Англійська мова</span></span
                      ><span class="wpcf7-list-item"><input type="checkbox" name="course[]" value="Біологія" /><span class="wpcf7-list-item-label">Біологія</span></span
                      ><span class="wpcf7-list-item"><input type="checkbox" name="course[]" value="Географія" /><span class="wpcf7-list-item-label">Географія</span></span
                      ><span class="wpcf7-list-item"><input type="checkbox" name="course[]" value="Хімія" /><span class="wpcf7-list-item-label">Хімія</span></span
                      ><span class="wpcf7-list-item last"><input type="checkbox" name="course[]" value="Фізика" /><span class="wpcf7-list-item-label">Фізика</span></span></span
                    ></span
                  >
                </p>
              </div>
            </div>
            <div class="landing-trial-lesson-form-input-wrap">
              <p>
                <span class="wpcf7-form-control-wrap" data-name="yourname"
                  ><input
                    size="40"
                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required landing-trial-lesson-form-input"
                    aria-required="true"
                    aria-invalid="false"
                    placeholder="Ім’я"
                    value=""
                    type="text"
                    name="yourname"
                /></span>
              </p>
            </div>
            <div class="landing-trial-lesson-form-input-wrap">
              <p>
                <span class="wpcf7-form-control-wrap" data-name="surname"
                  ><input
                    size="40"
                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required landing-trial-lesson-form-input"
                    aria-required="true"
                    aria-invalid="false"
                    placeholder="Прізвище"
                    value=""
                    type="text"
                    name="surname"
                /></span>
              </p>
            </div>
            <div class="landing-trial-lesson-form-input-wrap">
              <p>
                <span class="wpcf7-form-control-wrap" data-name="phone"
                  ><input size="40" class="wpcf7-form-control wpcf7-text landing-trial-lesson-form-input" aria-invalid="false" placeholder="Телефон" value="" type="text" name="phone"
                /></span>
              </p>
            </div>
            <div class="meet-form__item form-radio">
              <p>
                <span class="wpcf7-form-control-wrap" data-name="call"
                  ><span class="wpcf7-form-control wpcf7-radio landing-trial-lesson-form-radiobtn-container"
                    ><span class="wpcf7-list-item first"
                      ><label><input type="radio" name="call" value="Telegram" /><span class="wpcf7-list-item-label">Telegram</span></label></span
                    ><span class="wpcf7-list-item"
                      ><label><input type="radio" name="call" value="Viber" /><span class="wpcf7-list-item-label">Viber</span></label></span
                    ><span class="wpcf7-list-item"
                      ><label><input type="radio" name="call" value="WhatsApp" checked="checked" /><span class="wpcf7-list-item-label">WhatsApp</span></label></span
                    ><span class="wpcf7-list-item last"
                      ><label><input type="radio" name="call" value="Дзвінок" /><span class="wpcf7-list-item-label">Дзвінок</span></label></span
                    ></span
                  ></span
                >
              </p>
            </div>
            <div class="landing-trial-lesson-form-submit-btn-wrap">
              <p><input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="Відправити" /><span class="wpcf7-spinner"></span></p>
            </div>
            <div class="wpcf7-response-output" aria-hidden="true"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
