<div class="landing-backdrop-wrap is-hidden js-trial-lesson-modal-win js-modal-win">
  <div class="landing-backdrop js-landing-backdrop">
    <div class="landing-modal-win">
      <button type="button" class="landing-trial-lesson-modal-win-close-btn js-trial-lesson-modal-win-close-btn">
        <svg class="landing-trial-lesson-modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </button>
      <div class="landing-trial-lesson-modal-win-container">
        <p class="landing-trial-lesson-modal-win-title">Запишись на<br /><span class="landing-trial-lesson-modal-win-title-accent">пробне заняття</span></p>
        <p class="landing-trial-lesson-modal-win-text">Перший урок безкоштовний</p>
        <form class="landing-trial-lesson-form js-trial-lesson-form">
          <input type="hidden" />
          <div class="landing-trial-lesson-form-list-btn-wrap">
            <button type="button" class="landing-trial-lesson-form-list-btn js-show-trial-lessons-list-toggle-btn">
              <span class="landing-trial-lesson-form-list-btn-title js-landing-trial-lesson-form-list-btn-title">Обрати предмет</span>
              <img class="landing-trial-lesson-form-list-btn-icon" src="/icons/trial-lesson-modal-win/select-arrow.svg" />
            </button>
            <div class="landing-trial-lesson-list is-hidden js-trial-lessons-list">
              <label class="landing-trial-lesson-form-checkbox-wrap">
                <span class="landing-trial-lesson-form-checkbox-custom-wrap">
                  <input type="checkbox" name="trial-lesson" value="ukrainian-language" class="hidden-element" />
                  <span class="landing-trial-lesson-form-checkbox-custom"></span>
                </span>
                <span class="landing-trial-lesson-form-checkbox-title">Українська мова</span>
              </label>
              <label class="landing-trial-lesson-form-checkbox-wrap">
                <span class="landing-trial-lesson-form-checkbox-custom-wrap">
                  <input type="checkbox" name="trial-lesson" value="mathematics" class="hidden-element" />
                  <span class="landing-trial-lesson-form-checkbox-custom"></span>
                </span>
                <span class="landing-trial-lesson-form-checkbox-title">Математика</span>
              </label>
              <label class="landing-trial-lesson-form-checkbox-wrap">
                <span class="landing-trial-lesson-form-checkbox-custom-wrap">
                  <input type="checkbox" name="trial-lesson" value="history-of-ukraine" class="hidden-element" />
                  <span class="landing-trial-lesson-form-checkbox-custom"></span>
                </span>
                <span class="landing-trial-lesson-form-checkbox-title">Історія України</span>
              </label>
              <label class="landing-trial-lesson-form-checkbox-wrap">
                <span class="landing-trial-lesson-form-checkbox-custom-wrap">
                  <input type="checkbox" name="trial-lesson" value="ukrainian-literature" class="hidden-element" />
                  <span class="landing-trial-lesson-form-checkbox-custom"></span>
                </span>
                <span class="landing-trial-lesson-form-checkbox-title">Українська література</span>
              </label>
              <label class="landing-trial-lesson-form-checkbox-wrap">
                <span class="landing-trial-lesson-form-checkbox-custom-wrap">
                  <input type="checkbox" name="trial-lesson" value="english" class="hidden-element" />
                  <span class="landing-trial-lesson-form-checkbox-custom"></span>
                </span>
                <span class="landing-trial-lesson-form-checkbox-title">Англійська мова</span>
              </label>
              <label class="landing-trial-lesson-form-checkbox-wrap">
                <span class="landing-trial-lesson-form-checkbox-custom-wrap">
                  <input type="checkbox" name="trial-lesson" value="biology" class="hidden-element" />
                  <span class="landing-trial-lesson-form-checkbox-custom"></span>
                </span>
                <span class="landing-trial-lesson-form-checkbox-title">Біологія</span>
              </label>
              <label class="landing-trial-lesson-form-checkbox-wrap">
                <span class="landing-trial-lesson-form-checkbox-custom-wrap">
                  <input type="checkbox" name="trial-lesson" value="geography" class="hidden-element" />
                  <span class="landing-trial-lesson-form-checkbox-custom"></span>
                </span>
                <span class="landing-trial-lesson-form-checkbox-title">Географія</span>
              </label>
              <label class="landing-trial-lesson-form-checkbox-wrap">
                <span class="landing-trial-lesson-form-checkbox-custom-wrap">
                  <input type="checkbox" name="trial-lesson" value="chemistry" class="hidden-element" />
                  <span class="landing-trial-lesson-form-checkbox-custom"></span>
                </span>
                <span class="landing-trial-lesson-form-checkbox-title">Хімія</span>
              </label>
              <label class="landing-trial-lesson-form-checkbox-wrap">
                <span class="landing-trial-lesson-form-checkbox-custom-wrap">
                  <input type="checkbox" name="trial-lesson" value="physics" class="hidden-element" />
                  <span class="landing-trial-lesson-form-checkbox-custom"></span>
                </span>
                <span class="landing-trial-lesson-form-checkbox-title">Фізика</span>
              </label>
            </div>
          </div>
          <div class="landing-trial-lesson-form-input-wrap">
            <input class="landing-trial-lesson-form-input" type="text" placeholder="Ім&#8217;я" name="name" />
            <div class="help-block"></div>
          </div>
          <div class="landing-trial-lesson-form-input-wrap">
            <input class="landing-trial-lesson-form-input" type="text" placeholder="Прізвище" name="surname" />
            <div class="help-block"></div>
          </div>
          <div class="landing-trial-lesson-form-input-wrap">
            <input class="landing-trial-lesson-form-input" type="tel" placeholder="Телефон" name="phone" />
            <div class="help-block"></div>
          </div>
          <div class="landing-trial-lesson-form-radiobtn-container">
            <label class="landing-trial-lesson-form-radiobtn-wrap">
              <span class="landing-trial-lesson-form-radiobtn-custom-wrap">
                <input type="radio" name="contact-method" value="telegram" class="hidden-element" />
                <span class="landing-trial-lesson-form-radiobtn-custom"></span>
              </span>
              <span class="landing-trial-lesson-form-radiobtn-title">Telegram</span>
            </label>
            <label class="landing-trial-lesson-form-radiobtn-wrap">
              <span class="landing-trial-lesson-form-radiobtn-custom-wrap">
                <input type="radio" name="contact-method" value="viber" class="hidden-element" />
                <span class="landing-trial-lesson-form-radiobtn-custom"></span>
              </span>
              <span class="landing-trial-lesson-form-radiobtn-title">Viber</span>
            </label>
            <label class="landing-trial-lesson-form-radiobtn-wrap">
              <span class="landing-trial-lesson-form-radiobtn-custom-wrap">
                <input type="radio" name="contact-method" value="whatsapp" class="hidden-element" />
                <span class="landing-trial-lesson-form-radiobtn-custom"></span>
              </span>
              <span class="landing-trial-lesson-form-radiobtn-title">WhatsApp</span>
            </label>
            <label class="landing-trial-lesson-form-radiobtn-wrap">
              <span class="landing-trial-lesson-form-radiobtn-custom-wrap">
                <input type="radio" name="contact-method" value="call" class="hidden-element" checked />
                <span class="landing-trial-lesson-form-radiobtn-custom"></span>
              </span>
              <span class="landing-trial-lesson-form-radiobtn-title">Дзвінок</span>
            </label>
          </div>
          <div class="landing-trial-lesson-form-submit-btn-wrap">
            <button class="landing-trial-lesson-form-submit-btn js-landing-trial-lesson-form-submit-btn" type="submit" disabled>Надіслати</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
