@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('/fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}
