.landing-instagram-wrap {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #fffcf9;
}

.landing-instagram-container {
  position: relative;
  width: 1152px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.landing-instagram-title {
  color: #0d1321;
  font-family: Montserrat;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.landing-instagram-title-accent {
  color: #ce24ce;
}

.landing-instagram-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 48px;
  border-radius: 24px;
  margin-top: 32px;
  background-color: #ce24ce;
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.landing-instagram-icon {
  position: absolute;
  top: -74px;
  left: 775px;
  display: block;
  width: 556px;
  height: 454px;
}

@media screen and (max-width: 1179px) {
  .landing-instagram-wrap {
    display: none;
  }
}
