.landing-slogan-section {
  position: relative;
  padding-top: 64px;
  padding-bottom: 300px;
  background-color: rgb(255, 252, 249);
  overflow: hidden;
}

.landing-slogan-container {
  position: relative;
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.landing-slogan-title {
  margin: 0;
  color: #0d1321;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
}

.landing-slogan-title-accent {
  color: #ce24ce;
}

.landing-slogan-text-wrap {
  position: relative;
  margin-top: 19px;
  padding: 38px 18px 30px 25px;
}

.landing-slogan-text-wrap-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-slogan-text-wrap-icon path {
  stroke-dasharray: 1500;
}

.landing-slogan-text {
  margin: 0;
  color: rgba(13, 19, 33, 0.8);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.landing-slogan-decorative-hand {
  position: absolute;
  top: 369px;
  right: -100px;
  display: block;
  width: 378px;
  height: 194px;
}

@media screen and (min-width: 1180px) {
  .landing-slogan-section {
    padding-top: 128px;
    padding-bottom: 98px;
  }

  .landing-slogan-container {
    width: 1152px;
  }

  .landing-slogan-title {
    width: 614px;
    font-size: 56px;
    line-height: 1.2;
  }

  .landing-slogan-text-wrap {
    width: 631px;
    margin-top: 58px;
    padding: 37px 68px 42px 111px;
  }

  .landing-slogan-text-wrap-icon.mobile {
    display: none;
  }

  .landing-slogan-text {
    font-size: 16px;
    text-align: left;
  }

  .landing-slogan-decorative-hand {
    top: 96px;
    right: -220px;
    width: 786px;
    height: 403px;
  }
}

@media screen and (max-width: 1179px) {
  .landing-slogan-text-wrap-icon.desk {
    display: none;
  }
}
