body:has(.landing-backdrop-wrap:not(.is-hidden)) {
  overflow: hidden;
}

.landing-backdrop-wrap {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func);
}

.landing-backdrop-wrap.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.landing-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 69px;
  background-color: rgba(13, 19, 33, 0.48);
}

.landing-modal-win {
  position: relative;
  height: 100%;
  border-radius: 20px;
  background-color: #fffcf9;
  background-image: linear-gradient(180deg, rgba(131, 30, 193, 0.2), rgba(206, 36, 206, 0.2) 100%);
}

.landing-trial-lesson-modal-win-close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.landing-trial-lesson-modal-win-close-btn-icon {
  width: 32px;
  height: 32px;
  fill: rgba(13, 19, 33, 0.48);
  transition: fill var(--transition-duration-and-func);
}

.landing-trial-lesson-modal-win-close-btn:is(:hover, :focus) > .landing-trial-lesson-modal-win-close-btn-icon {
  fill: #000000;
}

.landing-trial-lesson-modal-win-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 736px;
  padding-top: 92px;
  padding-bottom: 92px;
}

.landing-trial-lesson-modal-win-container > .wpcf7 {
  margin-top: 32px;
}

.landing-trial-lesson-modal-win-title {
  color: #0d1321;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.landing-trial-lesson-modal-win-title-accent {
  color: #ce24ce;
}

.landing-trial-lesson-modal-win-text {
  margin-top: 16px;
  color: #0d1321;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.landing-trial-lesson-form {
  width: 412px;
  margin-top: 32px;
}

.landing-trial-lesson-form-list-btn-wrap {
  position: relative;
}

.landing-trial-lesson-form-list-btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  border: 1px solid rgba(13, 19, 33, 0.64);
  border-radius: 24px;
  background-color: transparent;
  padding: 0;
  padding-left: 24px;
  padding-right: 24px;
  opacity: 1;
  visibility: visible;
}

.landing-trial-lesson-form-list-btn-title {
  color: rgba(13, 19, 33, 0.48);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  transition: color var(--transition-duration-and-func);
}

.landing-trial-lesson-form-list-btn-title.active {
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.landing-trial-lesson-form-list-btn-icon {
  width: 10px;
  height: 10px;
  margin-left: auto;
}

.landing-trial-lesson-list {
  position: absolute;
  z-index: 10;
  top: calc(100% + 8px);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 20px 16px;
  border-radius: 12px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  background-color: #fffcf9;
  transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func);
}

.landing-trial-lesson-list.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.landing-trial-lesson-list > .wpcf7-list-item {
  display: flex;
  align-items: center;
}

.landing-trial-lesson-list > .wpcf7-list-item input[type='checkbox'] {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.landing-trial-lesson-list > .wpcf7-list-item::before {
  content: '';
  position: absolute;
  z-index: -10;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.2px solid #aeaeb2;
  background-color: transparent;
  transition: background-color var(--transition-duration-and-func);
}

.landing-trial-lesson-list > .wpcf7-list-item::after {
  content: '';
  position: absolute;
  z-index: -10;
  width: 16px;
  height: 16px;
  background-image: url('/icons/trial-lesson-modal-win/checkbox-check.svg');
  opacity: 0;
  transition: opacity var(--transition-duration-and-func);
}

.landing-trial-lesson-list > .wpcf7-list-item:has(input[type='checkbox']:checked)::after {
  opacity: 1;
}

.landing-trial-lesson-list > .wpcf7-list-item .wpcf7-list-item-label {
  padding-left: 24px;
  color: #0d1321;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.landing-trial-lesson-form-input-wrap {
  position: relative;
  margin-top: 28px;
}

.landing-trial-lesson-form-input {
  width: 100%;
  height: 48px;
  border: 1px solid;
  border-color: rgba(13, 19, 33, 0.64);
  border-radius: 24px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: transparent;
  outline: none;
  color: #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color var(--transition-duration-and-func);
}

.landing-trial-lesson-form-input::placeholder {
  color: rgba(13, 19, 33, 0.48);
}

.wpcf7-not-valid-tip {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  color: rgba(211, 0, 38, 0.64);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  opacity: 0;
  transition: opacity var(--transition-duration-and-func);
}

.landing-trial-lesson-form-input.wpcf7-not-valid {
  border-color: rgba(211, 0, 38, 0.64);
}

.landing-trial-lesson-form-input-wrap:has(.landing-trial-lesson-form-input.wpcf7-not-valid) .wpcf7-not-valid-tip {
  opacity: 1;
}

.landing-trial-lesson-form-radiobtn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 16px;
}

.landing-trial-lesson-form-radiobtn-container > .wpcf7-list-item {
  margin-left: 0;
}

.landing-trial-lesson-form-radiobtn-container > .wpcf7-list-item > label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.landing-trial-lesson-form-radiobtn-container > .wpcf7-list-item > label::before {
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-image: url('/icons/consultation/radio-btn-check.svg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity var(--transition-duration-and-func);
}

.landing-trial-lesson-form-radiobtn-container > .wpcf7-list-item > label > input {
  position: absolute;
  transform: scale(0);
}

.landing-trial-lesson-form-radiobtn-container > .wpcf7-list-item > label::after {
  content: '';
  position: absolute;
  left: 4px;
  width: 16px;
  height: 16px;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid;
  border-color: rgba(13, 19, 33, 0.32);
  background-color: transparent;
  transition: background-color var(--transition-duration-and-func), border-color var(--transition-duration-and-func);
}

.landing-trial-lesson-form-radiobtn-container > .wpcf7-list-item > label:has(input:checked)::after {
  border-color: transparent;
}

.landing-trial-lesson-form-radiobtn-container > .wpcf7-list-item > label:has(input:checked)::before {
  opacity: 1;
}

.landing-trial-lesson-form-radiobtn-container > .wpcf7-list-item > label > span {
  padding-left: 28px;
  color: rgba(13, 19, 33, 0.48);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: color var(--transition-duration-and-func);
}

.landing-trial-lesson-form-radiobtn-container > .wpcf7-list-item > label:has(input:checked) > span {
  color: #0d1321;
}

.landing-trial-lesson-form-submit-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.landing-trial-lesson-form-submit-btn-wrap input[type='submit'] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 48px;
  border: none;
  border-radius: 24px;
  background-color: #831ec1;
  color: #fffcf9;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: color var(--transition-duration-and-func), background-color var(--transition-duration-and-func);
}

.landing-trial-lesson-form-submit-btn-wrap input[type='submit']:disabled {
  background-color: #c47dff;
}

.landing-trial-lesson-form-submit-btn-wrap input[type='submit']:not(:disabled):is(:hover, :focus) {
  background-color: #fffcf9;
  color: #831ec1;
}

@media screen and (min-height: 770px) {
  .landing-backdrop-wrap {
    overflow: hidden;
  }
}

@media screen and (max-width: 1179px) {
  .landing-trial-lesson-form-submit-btn-wrap {
    width: 100%;
  }

  .landing-trial-lesson-form-submit-btn-wrap > p {
    width: 100%;
  }

  .landing-trial-lesson-form-submit-btn-wrap > p > .wpcf7-form-control {
    width: 100%;
  }

  .landing-trial-lesson-form-radiobtn-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
